{
    "env": {
        "node": true,
        "jest": true,
        "browser": true,
        "es2021": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "react-app",
        "airbnb",
        "prettier",
        "plugin:import/typescript",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:react/jsx-runtime"
    ],
    "plugins": ["prettier", "@typescript-eslint"],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "ignorePatterns": ["node_modules/", "serviceWorker.ts", "setupTests.ts"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        },
        "react": {
            "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
        }
    },
    "rules": {
        "prettier/prettier": "off",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never",
                "": "never"
            }
        ],
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "internal", ["parent", "sibling"], "index", "object", "type"],
                "pathGroups": [
                    {
                        "pattern": "{react*,react*/**}",
                        "group": "external",
                        "position": "before"
                    }
                ],
                "pathGroupsExcludedImportTypes": ["react"],
                "newlines-between": "always",
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ],
        "react/jsx-filename-extension": ["warn", { "extensions": [".ts", ".tsx"] }],
        "react/require-default-props": "off",
        "react/jsx-props-no-spreading": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
    }
}
